<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">

	<test name="Test 1">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities" />
		</classes>
	</test>

	<test name="Test 2">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities_Button" />
		</classes>
	</test>

	<test name="Test 3">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities_Command_Button" />
		</classes>
	</test>

	<test name="Test 4">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities_Command" />
		</classes>
	</test>
	<test name="Test 5">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities2" />
		</classes>
	</test>

	<test name="Test 6">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities3" />
		</classes>
	</test>
	
	<test name="Test 7">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities4" />
		</classes>
	</test>
	
	<test name="Test 8">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities5" />
		</classes>
	</test>
	
	<test name="Test 9">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities6" />
		</classes>
	</test>
	
		<test name="Test 10">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities7" />
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
