<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="10">

	<test name="Test 1">
		<classes>
			<class name="tekbot.Test_ChatBot_Activities_Test1" />
			<class name="tekbot.Test_ChatBot_Activities_Test2" />
			<class name="tekbot.Test_ChatBot_Activities_Test3" />
			<class name="tekbot.Test_ChatBot_Activities_Test4" />
			<class name="tekbot.Test_ChatBot_Activities_Test5" />
			<class name="tekbot.Test_ChatBot_Activities_Test6" />
			<class name="tekbot.Test_ChatBot_Activities_Test7" />
			<class name="tekbot.Test_ChatBot_Activities_Test8" />
			<class name="tekbot.Test_ChatBot_Activities_Test9" />
			<class name="tekbot.Test_ChatBot_Activities_Test10" />
		</classes>
	</test>
	
	<!-- Test -->
</suite> <!-- Suite -->
